.question-card {
  margin-top: 12.5rem;
}

.b-style {
  margin: 1.25rem;
}

body,
html,
#root {
  background-image: url("https://images.unsplash.com/photo-1595057602304-8b54f16dc1b0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80");
  background-size: contain;
  background-repeat: repeat;
  font-family: "Raleway", sans-serif;
}

/* .top {
  display: inline;
} */

.colors {
  background-color: #b1b493;
  font-family: "Raleway", sans-serif;
}
.answers-card {
  margin-top: 2rem;
}
.colors2 {
  background-color: #4f8a8b;
  font-family: "Raleway", sans-serif;
}
.question-card {
  margin-top: 5rem;
}
.score-card {
  margin-top: 1.5rem;
}

@media (min-width: 576px) {
  body,
  html,
  #root {
    background-image: url("https://images.unsplash.com/photo-1595057602304-8b54f16dc1b0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Raleway", sans-serif;
  }
}
